<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EO.Base" publicKeyToken="e92353a6bf73fffc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-20.2.34.0" newVersion="20.2.34.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EO.WebBrowser" publicKeyToken="e92353a6bf73fffc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-18.3.46.0" newVersion="18.3.46.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>